{% extends 'base.html' %}

{% block content %}





<div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h1>About Our Restaurant</h1>
                <p>Welcome to Our Restaurant, where we strive to provide a delightful dining experience for our
                    guests. Our passion for food and commitment to quality make us a destination for food enthusiasts.</p>

                <h2>Reservations</h2>
                <p>Make your dining experience seamless by reserving a table in advance. Whether it's a romantic dinner
                    for two or a gathering with friends and family, we ensure a cozy atmosphere and exceptional
                    service. Reserve your table now to secure your spot!</p>

                <h2>Online Order</h2>
                <p>Can't make it to our restaurant? No worries! Enjoy our delicious dishes from the comfort of your
                    home with our convenient online ordering system. Browse our menu, place your order, and we'll
                    deliver it to your doorstep.</p>

                <h2>Events</h2>
                <p>Join us for special events and culinary celebrations. From themed nights to live music, we create
                    memorable experiences for our guests. Check our events calendar for upcoming happenings and
                    plan your visit to be a part of the excitement!</p>
            </div>
            <div class="col-md-4">
                <!-- image -->
                <img src="https://images.pexels.com/photos/8771270/pexels-photo-8771270.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
        </div>
    </div>

    {% endblock %}