{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-3 mt-3 mb-3 border border-warning">
            <h5>Filter by Category</h5>
            <p><a href="{% url "order" %}" class="text-dark" >All</a></p>
            <p><a href="{% url "veglistview" %}" class="text-dark" >by Veg</a></p>
            <p><a href="{% url "nonveglistview" %}" class="text-dark" >By Non-veg</a></p>
            <p><a href="{% url "beverageslistview" %}" class="text-dark" >By Beverages</a></p>
            <hr>
            <h5>Filter by price</h5>
            
            <form action="{% url "rangeview" %}" method="post">
                {% csrf_token %}
                <div>
                    <label for="input1" class="form-label"><strong>Min:</strong></label>
                    <input type="number" class="form-control" name="min" placeholder="min value">
                </div>


                <div>
                    <label for="input1" class="form-label"><strong>Max:</strong></label>
                    <input type="number" class="form-control" name="max" placeholder="max value">
                </div>

                <div class="m-2">
                    <input type="submit" value="Search" class="btn btn-warning btn-sm">

                </div>

            </form>
            <hr>
            <h5>Sort by price</h5>
            
            <p><a href="{% url "allsortedview" %}?sort=high_to_low" class="text-dark" >High to low</a></p>
            <p><a href="{% url "allsortedview" %}?sort=low_to_high" class="text-dark" >Low to high</a></p>
        </div>
        <!--sidebar end-->
        <div class="col-md-9">
            <div class="row justify-content-evenly mt-2">

                {% for item  in allproduct  %}

                <div class="card my-2 shadow" style="width: 18rem; height=30rem;">
                    <img src="{{item.image.url}}" class="card-img-top" alt="..."  width="50px" height="300px">
                    <div class="card-body">
                      <h5 class="card-title">{{item.product_name}}</h5>
                      <p class="card-text"><b>Rs {{item.price}}/-</b></p>
                      <p class="card-text">{{item.decs|truncatewords:15}}</p>
                      <div class="row">
                        <div class="col-6 text-center">
                            <a href="/addtocart/{{item.product_id}}" class="btn btn-warning btn-sm">Add to Cart</a>
                        </div>
                        <div class="col-6 text-center">
                            <a href="/addtocart/{{item.product_id}}" class="btn btn-warning btn-sm">Buy now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}